h1{
font-family: 'Roboto', sans-serif;
}

a{
font-family: 'Roboto', sans-serif;
}

p{
font-family: 'Roboto', sans-serif;
}

input{
font-family: 'Roboto', sans-serif;
}

button{
font-family: 'Roboto', sans-serif;
}

label{
font-family: 'Roboto', sans-serif;
}

span{
font-family: 'Roboto', sans-serif;
}
